<div class="home">

    <div class="parallax para"></div>
    <div class="container">
        <div class="col-md-12 welcome">
            <h1>Welcome to Flag Rush!</h1>
        </div>
        <div class="col-md-12 intro">
            <h2>Flag Rush is a strategy board game, this game was inspired by Game of the Generals. This game puts your intellect
                to the test. Play now and become the ultimate Flag Master!</h2>
        </div>
    </div>

    <div style="height:260px;background-color:#7f0000;font-size:26px">
        <div class="container">
            <div class="col-md-12">
                <h2 class="rulesH2">Basic Rules</h2>
                <ul class="rules">
                    <li class="rulesLi">To win a player flag must make it to the last row at the opposing side of the board.</li>
                    <li class="rulesLi">You lose if your flag gets eliminated by an enemy piece.</li>
                    <li class="rulesLi">You eliminate the opposing player's piece by rank. If your piece is higher ranked then you eliminate
                        the enemy's piece.
                    </li>
                    <li class="rulesLi">To attack you need to place your piece on a tile that has an opposing piece.</li>
                    <li class="rulesLi">If your piece has the same rank as the enemy piece you both lose the piece.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="parallax para2"></div>
    <div style="height:350px;background-color:#7f0000;font-size:26px">
        <div class="container">
            <div class="col-md-12">
                <h2 class="rulesH2">Computer</h2>
                <ul class="rules">
                    <li class="rulesLi">Only the computer will know the rank of both players pieces.</li>
                    <li class="rulesLi">The role of the computer is to determine who wins the battle between two pieces. So that the rank is
                        never revealed to the player.</li>
                </ul>

                <h2 class="rulesH2">Moves</h2>
                <ul class="rules">
                    <li class="rulesLi">Each piece can move 1 tile to the right, left ,forward, or backwards. No diagonal moves allowed or moves
                        with 2 spaces are not allowed.</li>
                    <li class="rulesLi">Enemy Pieces will not move , the players flag must navigate its way through the enemy lines.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="parallax para3"></div>
    <div style="height:250px;background-color:#7f0000;font-size:26px">
        <div class="container">
            <div class="col-md-12">
                <h2 class="rulesH2">Positioning</h2>
                <ul class="rules">
                    <li class="rulesLi">A player will get 12 pieces and a FLAG to use for their army.</li>
                    <li class="rulesLi">At the begininning of the game you get to position all your pieces in the first 3 rows on your side.</li>
                    <li class="rulesLi">Since rank of the enemy piece is never revealed you can conclude that if you lose the piece, that piece
                        rank is higher than the piece you lost. (Vice Versa)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="parallax para4"></div>
    <div style="height:230px;background-color:#7f0000;font-size:26px">
        <div class="container">
                <div class="col-md-12">
                    <h2 class="rulesH2">Pieces and Rank</h2>
                </div>
                
                <div class="col-md-6">
                    <ul class="ulRules">
                        <li class="rulesRa">Flag (no star): 1 piece</li>
                        <li class="rulesRa">King (6 star): 2 piece</li>
                        <li class="rulesRa">Queen (5 star): 2 piece</li>
                        <li class="rulesRa">Duke (4 star): 2 piece</li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="ulRules">
                        <li class="rulesRa">Counts (3 star): 2 piece</li>
                        <li class="rulesRa">VisCount (2 star): 2 piece</li>
                        <li class="rulesRa">Knight (1 star): 2 piece</li>
                    </ul>
                </div>
        </div>
    </div>
    
    <div class="parallax para5"></div>
    <div style="height:100px;background-color:black;font-size:26px">
    </div>
</div>